@page "/owners/create"

@inject IRepository repository

@inject NavigationManager navigationManager

@inject SweetAlertService sweetAlertService
<h3>Owner  Create</h3>

<OwnerForm @ref="ownerForm"  Owner="Owner" OnSubmit="Create" ReturnAction="Return" />



@code {
    private Owner Owner = new();
    private OwnerForm ownerForm;



    private async Task Create()
    {

        var responseHttp = await repository.PostAsync("/api/owners", Owner);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        navigationManager.NavigateTo("/Owners");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/Owners");
    }
}
